@import"public";
#list1{
    width:1200px;height:561px;margin:0 auto;
    ul{float:left;width:231px;height:559px;border:1px solid #e5e5e5;margin-right: 10px;
        a{display:block;height:40px;padding-left: 20px;line-height: 40px;text-decoration: none;}
       a:hover{background:#da0f51;color:#fff}
    }
    .lunbo{width:714px;height:561px;float:left;position: relative;margin-right: 11px;
        div:first-child{width:714px;height:382px;position: relative;
            span{top:161px;}
            img{position: absolute;}
            ol{position: absolute;bottom:5px;left:336px;
            li{height:16px;width:16px;border-radius: 8px;float:left;background:#cf0958;z-index: 100;font-size: 10px;text-align: center;line-height: 16px;color:#fff}
            li:first-child{margin-right: 10px;}
        }
    }
        div:nth-child(2){ 
            a{display:block;float:left;margin-top: 4px;}
            a:first-child{margin-right: 4px;}
        }
    }
    .zhuce{width:232px;height:561px;float:left;background: url(../image/dome_07.png) no-repeat center 20px;
        div:first-child{width:230px;height:182px;border:1px solid #e5e5e5;margin-top: 10px;position: relative;text-align: center;
        p{font-size: 12px;margin-top:67px;line-height: 12px;}
        input{display: block;width:200px;height:40px;background:#dc0f50;margin:20px 0 10px 16px;color:#fff}
        input:hover{background: deeppink;}
        a{position: absolute;right:14px;bottom:23px;font-size: 12px;color:#3e2e38}
        }
        div:nth-child(2){
            i{display: block;margin:0 auto}
            width:230px;height:123px;border:1px solid #e5e5e5;border-top: none;padding-top: 18px;
            p{width:208px;height:30px;background:url(../image/mobile1.png) no-repeat left top;text-align: right;margin-left: 10px;color:#6a665b;font-size: 18px;font-weight: 900;}
            a{display: block;height:53px;width:26px;float:left;margin-left: 23px;margin-top: 20px;font-size: 12px;text-align: center;}
            a:first-of-type{width:36px;
            i{width:26px;height:17px;background:url(../image/icon_2.png);background-position-x: 0;background-position-y: 0;margin-bottom: 10px;}
            i:hover{background:url(../image/icon_2.png);background-position: -28px 0;}
        }
        a:nth-of-type(2){
            i{background: url(../image/icon_2.png);width:12px;height:21px;background-position: -7px -19px;margin-bottom: 7px;}
            i:hover{background: url(../image/icon_2.png);background-position: -35px -19px;}
        }
        a:nth-of-type(3){
            i{background:url(../image/icon_2.png);width:26px;height: 20px;background-position: 0 -40px;margin-bottom: 7px;}
            i:hover{background: url(../image/icon_2.png);background-position: -28px -40px;}
        }
        a:nth-of-type(4){
            i{width:20px;height: 20px;background: url(../image/icon_2.png);background-position: -3px -60px;margin-bottom: 7px;}
            i:hover{background-position: -31px -60px;}
        }
        
            }
        div:nth-child(3){
            border-top: 2px solid #da0f51;width:232px;height:198px;margin-top: 14px;padding-top: 11px;text-align: center;
            p{color:#db1351;background:url(../image/hd_bg.jpg)}
            img{width:111px;height:111px}
            section{float:left;margin-top: 30px;margin-right: 3px;}
            span{display: block;width:111px;height: 28px;background:#dc0f50;text-align: center;line-height: 28px;color:#fff;margin-top: 8px;}
            span:hover{background:deeppink;}
        }
        }
        
    

}
#qianggou{width:1200px;height: 324px;margin: 45px auto;overflow: hidden;position: relative;
    .left{position: absolute;left:0;top:124px;}
    .right{position: absolute;right:0;top:124px}
    div:first-of-type{width:1200px;height:22px;
        span{width:32px;height: 20px;background:black;float:left;margin-top:8px ;color:#fff;text-align: center;line-height: 20px;}
        i{display: block;float: left;margin-top: 8px;}
        h2{font-size: 22px;float: left;margin-right: 23px;}
        p{font-size: 14px;padding-top: 8px;float:left}
        div{border-bottom: 1px solid #e5e5e5;width:770px;height:21px;float: left;}
    }
    .list-wp{width:11340px;height:270px;margin-top: 33px;margin-left: 36px;position: absolute;top: 20px;
        dl{width:202px;height:270px;float:left;margin-right: 36px;
        
            img{width:200px;height:200px;}
            img:hover{width:210px;height: 210px;}
            dt{position: relative;overflow: hidden;width:200px;height:200px;
                i{display:block;width:60px;height:24px;background:#db6b8f;position: absolute;right:0;bottom: 0;text-align: center;color: #fff;}
            }
            dd{width:202px;height:60px;position: relative;margin-top: 5px;
                em{position: absolute;left: 0;bottom: 0;color:red}
                span{width:60px;height: 60px;position: absolute;right: 0;top: 0;background:#eb2b28;text-align: center;font-size: 18px;color: #fff;line-height: 30px;}
            }
        }
    }

}
.floor{
    width:1200px;height:550px;margin:75px auto;
    div:first-child{
        width:300px;height:550px;margin-right: 10px;float: left;
        h2{font-size: 18px;line-height: 18px;margin-bottom: 20px;} 
        div{     width:287px;height:90px;margin-top: 30px;
        img{width:82px;height:30px;margin-left: 10px;float: left;margin-bottom: 15px;border: 1px solid #e3e3e3;}
    }
}
    .lunbo{
        width:580px;height:505px;margin-top: 40px;float: left;
        div{position: relative;width:580px;height: 310px;
        img{position: absolute;}
        span{top:124px}
         ol{position: absolute;bottom:5px;left:267px;
            li{height:16px;width:16px;border-radius: 8px;float:left;background:#cf0958;z-index: 100;font-size: 10px;text-align: center;line-height: 16px;color:#fff}
            li:first-child{margin-right: 10px;}
        }
    }
    
}
.lunbo>a{display:block;float:left;margin:5px 3px 0 0}
div:nth-child(3){margin-left: 10px;width:300px;height:505px;float: left;
h2{font-size: 18px;line-height: 18px;margin-bottom: 30px;} 
dl{height:94px;border-bottom: 1px solid #e5e5e5;width:300px;padding-top: 5px;
    dt{float:left}
    img{width:90px;height: 90px;}
    dd{float:left;height:90px;position: relative;
        span{color:#dc0e4e;position: absolute;left:0;bottom: 15px;}
    }
}
    
}
}
#like{
    width:1200px;height: 320px;margin:54px auto;position: relative;overflow:hidden ;
    span{top:125px}
    div{width:3525px;margin-left: 30px;position: absolute;top:30px;
        dl{width:200px;height: 270px;margin-right: 35px;float: left;
            dt{width:200px;height:200px;overflow: hidden;}
            dd{width:200px;height: 72px;position: relative;
            p{font-size: 12px;margin-top: 10px;}
            em{font-size: 16px;margin-top: 12px;color:#d7114f}
            }
        }
    }
    img{width:200px;height: 200px;}
    img:hover{width:210px;height: 210px;}}