@import"public";
body span{display: inline-block}
i,em{display: inline-block;}

hr{display: block;width:100%;height:2px;background: #dc0f50;}
#login{width:1040px;height: 410px;margin:78px auto;
    div{width:580px;height:410px;float: left;
        input{color:#e2c5ad;border:1px solid #d6d6d6;height: 40px;}
        p{height: 40px;width:580px;font-size: 14px;color:#666;margin-bottom: 20px;line-height: 40px;
        span{position: relative;left:20px;background: url(../image/error_bg.png) no-repeat left center;padding-left: 22px;color:#dc0f50}}
        .random{width:80px;height: 40px;background-image: none;text-align: center;line-height: 40px;padding: 0;fontsize:16px}
        #mobile{width:304px;height: 40px;border: 1px solid #e92d2f;}
        #ma{width:180px;}
        #pwd{width:305px}
        #qpwd{width:305px}
        #yanzheng{width:180px;
        i{height:40px}}
        em{width:110px;height: 40px;background: #dc0f50;color:#fff;text-align: center;line-height: 40px;margin-left: 16px;}em:hover{background:deeppink}
       #abmit{margin-right: 5px;height:20px}
       .zc{width:305px;height: 40px;background: #dc0f50;line-break: 40px;text-align: center;color:#fff;margin-left: 90px;font-size: 18px;margin-bottom: 10px;}.zc:hover{background: deeppink;}
       .register{margin-left: 250px;text-decoration: underline;}
    }
}
