@import"public";
nav{position: relative;
    li:first-child{background: url(../image/nav_b_bg.jpg) no-repeat 205px center;background-color: #333;}
     li:first-child:hover{background: #333;}
  a:hover{text-decoration: none;}
ul{position:absolute;width:230px;height:559px;border:1px solid #e5e5e5;top:40px;left: 32px;border-top: none;display: none;z-index: 100;
        a{display:block;height:40px;padding-left: 20px;line-height: 40px;background: #fff;}
       a:hover{background:#da0f51;color:#fff}
    }
    li:first-child:hover ul{display: block;}
    }
#product{width:1200px;min-height:2032px;margin:0 auto;margin-top: 42px;
    
        .wupin{min-height: 2032px;width:956px;float:left;
        section{min-height: 120px;border: 1px solid #e5e5e5;margin-bottom: 20px;
        .p2{display: none;
        }
        p{height:60px;font-size: 12px;position: relative;
        em{display: inline-block;width: 40px;height:16px;font-size: 14px;position: absolute;right:16px;top:22px}
        .more{background: url(../image/more.png) no-repeat right bottom;background-position-y: -27px;}
        .close{background:url(../image/more.png) no-repeat right 10px;background-position-y: 3px;}
        span{display: block;float:left;width:80px;height: 60px;background: #f1f1f1;line-height: 60px;padding-left: 10px;margin-right: 10px;}
          
       a{display:block;float:left;font-size: 12px;margin-right: 48px;height: 12px;color: #666;margin-top: 20px;}
       a:hover{text-decoration: none;} }
       .fenlei{border-bottom: 1px dashed #e3e3e3}
       }
       .rule{height: 46px;width: 956px;background: #f1f1f1;border:1px solid #e5e5e5 ;
       .qd:hover{background: deeppink;}
        li:first-child{background: #fff;height:47px}
        li{width:88px;height: 46px;float: left;line-height: 46px;text-align: center;font-size: 12px;}
        li:nth-child(2) i{display: inline-block;width: 10px;height: 11px;background: url(../image/filter_i_bg.png);}li:nth-child(3) i{display: inline-block;width: 10px;height: 11px;background: url(../image/filter_i_bg.png);}li:nth-child(4) i{display: inline-block;width: 10px;height: 11px;background: url(../image/filter_b_bg2.png);}
        div{background: #fff;width:225px;height: 47px;float: left;line-height: 46px;padding-left: 22px;border-left: 1px solid #e5e5e5;
        input{display: inline-block;width:54px;height: 24px;border:1px solid #d6d6d6;color: #e2c5ad;margin-left: 13px;}
        input:first-of-type{margin-right: 13px;margin-left: 0;}
           input:nth-of-type(3){color:#fff;background:#dc0f50;font-size: 12px;}
        }
        
       }
     #product_list{
         a:hover{text-decoration: none;}
         width:957px;height: 1700px;
         li{width:214px;height: 310px;padding:0 10px;float:left;margin-bottom: 30px;
         
         img{width:200px;height: 200px;}
            p{font-size: 12px;color:#333;height: 44px;};
            b{display: block;position: relative;color:#e11f24;font-size: 16px;font-weight: 600;
            i{position: absolute;right: 0;color:#999999;text-decoration: line-through;font-weight: normal;}}
            span{color:#666;font-size: 12px;}
         }
     }
     .page{width: 700px;height: 38px;margin: 0 auto;
            a:hover{text-decoration: none;background: #dc0f50;color: #fff;}
          a{width: 38px;height: 37px;display: inline-block;border: 1px solid #e5e5e5;background: #fafafa;line-height:34px ;text-align: center;margin-right: 5px;}
          span{display: inline-block;}
          input{width:35px;height: 35px;border: 1px solid #e5e5e5;text-align: center;}
          i{display: inline-block;}
        .fanye{width: 74px;height: 37px;}
        .pt{background: #dc0f50;color:#fff}
        .p4{margin-right: 20px;}
        .cur{background: #dc0f50;color:#fff}
        
     }
     
     
}
.rxb{float:left;margin-left: 10px;
a:hover{text-decoration: none;}
    li{width:134px;height:86px;border-top: 1px solid #e5e5e5;position: relative;padding: 10px 0 10px 96px;
    border-bottom:1px solid #e5e5e5; 
    p{font-size: 14px;margin-bottom: 28px;}
    span{color:#e82d50;font-size: 16px;}
    img{position: absolute;top:10px;left:0}
        
    }
}
}
#like_box{height: 362px;width: 1200px;margin:0 auto;position: relative;overflow: hidden;
span{top:112px}
    .hd{height: 21px;background: url(../image/hd_bg.jpg) repeat-x 88px bottom;}
    h2{height: 22px;font-size: 22px;line-height: 22px;background: #fff;width: 88px;}
    ul{width:4760px;height: 298px;position: absolute;top: 50px;
        
        li{float: left;width:200px;margin:0 24px 0 14px;
            a:hover{text-decoration: none;}
            p{width:200px;height: 50px;font-size: 12px;color:#333}
            em{height: 27px;display: block;font-size: 14px;color:#dc0f50;
                i{font-size: 8px;color:#999;display: inline-block;margin-left: 8px;text-decoration:line-through;}
            }
            img{width: 200px;height: 200px;}
        }
    }
    
}
